---
interface Props {
	title: string;
}

const { title } = Astro.props;
const basePath = import.meta.env.BASE_URL;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <style set:html={`
            @font-face {
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 400;
                font-display: fallback;
                src: url('${basePath}/fonts/merriweather-regular.woff2') format('woff2');
            }
            @font-face {
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 700;
                font-display: fallback;
                src: url('${basePath}/fonts/merriweather-bold.woff2') format('woff2');
            }
            @font-face {
                font-family: 'Merriweather';
                font-style: normal;
                font-weight: 900;
                font-display: fallback;
                src: url('${basePath}/fonts/merriweather-black.woff2') format('woff2');
            }
        `}/>
        <meta name="description" content="SoCraTes Unconference in Belgium" />
        <link rel="icon" href={`${basePath}/favicon.ico`} />
        <link rel="apple-touch-icon" href={`${basePath}/apple-touch-icon.png`} />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
    @font-face {
        font-family: 'Fallback';
        src: local(Georgia);
        size-adjust: 106%;
        ascent-override: normal;
        descent-override: 22%;
        line-gap-override: normal;
    }
	:root {
        --font-family: 'Merriweather', 'Fallback', system-ui, sans-serif;
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: var(--font-family);
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
